.nav{
  background-color: grey;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* .nav-title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
*/

li{
  margin: 10px;
}

.nav-links{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
}

.btn{
  background-color: blue;
}
